<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Flight Sim Discovery</title>
    <meta name="description" content="Search, Download, and Explore with Flight Sim Discovery.  Find interesting places to fly and discovery, export a flight plan and load up your favorite flight simulator such as Microsoft Flight Simulator. Rate, save, like and create new points of interest."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/img/favicon.png') }}"
    />
    <!-- Place favicon.ico in the root directory -->
    <script src="https://kit.fontawesome.com/01f2558376.js" crossorigin="anonymous"></script>

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/magnific-popup.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/scss/cruise_altitude_slider.scss') }}">


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <!--[if lte IE 9]>
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="https://browsehappy.com/">upgrade your browser</a> to improve
            your experience and security.
        </p>
        <![endif]-->

        <!-- header-start -->
        <header>
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand mr-5" href="{{ url_for('main.home') }}">
                    <img src="{{ url_for('static', filename='/img/logo.png') }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">   
                <i class="fas fa-bars" style="color:rgb(3, 3, 3); font-size:28px;"></i>
              </span>

                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('pois.new_poi') }}">Create POI</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                    </div>

                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <!-- <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-toggle="dropdown">Account</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ url_for('users.user_pois') }}">My Points of
                                    Interest</a>
                                <a class="dropdown-item" href="{{ url_for('users.account') }}">Update Account</a>
                            </div>
                        </li>
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        {% endif %}
                    </div>
                    <div class="main-menu">
                        <!-- <button type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#donateModal" > <i class="fas fa-donate"></i></button> -->
                        <!-- <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3GQKFCMYM859N&source=url" -->
                        <a href="https://www.buymeacoffee.com/FSDiscovery"
                           class="btn btn-danger mx-2" role="button" aria-disabled="true">Donate</a>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </main>
        <!-- header-end -->
        {% block content %}{% endblock %}
        <!-- footer-start -->
        <footer id="footer" class="footer">
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border "></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                    document.write(new Date().getFullYear());

                                </script>
                                All rights reserved | This template is made with
                                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->

        <!-- Modal search at top right hand side-->
        <div
                class="modal fade donate_pop"
                id="donateModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="donateModalTitle"
                aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="serch_form">
                        <input type="text" placeholder="Enter amount"/>
                        <button type="submit">Donate</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- link that opens popup -->


        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->

        <!-- JS here -->
        <script src="{{ url_for('static', filename='/js/vendor/modernizr-3.5.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/ajax-form.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/scrollIt.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.scrollUp.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/nice-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.slicknav.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/geojson.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/gijgo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/slick.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/geojson.min.js') }}"></script>
        <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

        <script src="{{ url_for('static', filename='/js/flightsimdiscovery.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/flightplan.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/contact.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/contact.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.validate.min.js') }}"></script>

        <script src="{{ url_for('static', filename='/js/mail-script.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='/js/bootstrap-slider.min.js') }}"></script> -->
        
        <!-- <script>
          $("#datepicker").datepicker({
            iconsLibrary: "fontawesome",
            icons: {
              rightIcon: '<span class="fa fa-caret-down"></span>',
            },
          });
        </script> -->
    </div>
</div>
</body>
</html>
