{% extends "base.html" %}
{% block content %}
  <!-- bradcam_area  -->
  <div class="bradcam_area contact_us_bg">
    <div class="container">
        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Contact Us</h3>
                    <p>Search - Download - Explore</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

   <!-- ================ contact section start ================= -->
   <div class="about_story">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h3 class="contact-title">Get in Touch</h3>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="" method="post" id="contactForm" novalidate="novalidate">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.message.label(class="form-control-label") }}
                                {% if form.message.errors %}
                                    {{ form.message(class="form-control form-control-lg is-invalid") }} 
                                    <div class="invalid-feedback">
                                        {% for error in form.message.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.message(class="form-control form-control-lg", cols="30", rows="9") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.subject.label(class="form-control-label") }}
                                {% if form.subject.errors %}
                                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.subject.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.subject(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <!-- <button type="submit" class="button button-contactForm boxed-btn">Send</button> -->
                        {{ form.submit(class="button button-contactForm boxed-btn") }}
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1 mt-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@test.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock content %}



