{% extends "base.html" %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area create_poi_bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Create Point of Interest</h3>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="section_top_area"></div>
<div class="container">
    <div class="form_new_poi">
        

        <form method="POST" autocomplete="off" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mt-5">
                
                <h3 class="new_poi_header border-bottom mb-4">Create New Point of Interest</h3>
                <div class="new_poi_msg mb-4 ">
                    *Create a new POI that you think might be interesting to the community.  Private POI's can be created by unchecking 'Share with the community' at the bottom of this form 
                </div>
                <div class="form-group autocomplete">
                    
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}
                    {% if form.country.errors %}
                    {{ form.country(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}
                    {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.category(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.latitude.label(class="form-control-label") }}
                    {% if form.latitude.errors %}
                    {{ form.latitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.latitude.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.latitude(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.longitude.label(class="form-control-label") }}
                    {% if form.longitude.errors %}
                    {{ form.longitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.longitude.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.longitude(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- <div class="form-group">
                    {{ form.nearest_airport.label(class="form-control-label") }}
                    {% if form.nearest_airport.errors %}
                    {{ form.nearest_airport(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nearest_airport.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.nearest_airport(class="form-control form-control-lg") }}
                    {% endif %}
                </div> -->
                <div class="form-check"{{share}}>
                    {{ form.share(class="form-check-input") }}
                    {{ form.share.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group mb-5">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
 
 <script>
    function autocomplete(searchEle, arr) {
       var currentFocus;
       searchEle.addEventListener("input", function(e) {
          var divCreate,
          b,
          i,
          fieldVal = this.value;
          closeAllLists();
          if (!fieldVal) {
             return false;
          }
          currentFocus = -1;
          divCreate = document.createElement("DIV");
          divCreate.setAttribute("id", this.id + "autocomplete-list");
          divCreate.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(divCreate);
          b = document.createElement("DIV");
          heading_created = false;
        //   b.innerHTML = "<strong>" + "PLEASE CHOOSE A POI NAME NOT  LITSTED BELOW" + "</strong>";
        //   divCreate.appendChild(b);
          for (i = 0; i <arr.length; i++) {
              
            //  if ( arr[i].substr(0, fieldVal.length).toUpperCase() == fieldVal.toUpperCase() ) {
             if ( arr[i].toUpperCase().includes(fieldVal.toUpperCase())) {      

                if (!heading_created) {
                    divCreate.appendChild(b);
                    b.innerHTML = "<strong>" + "PLEASE ADD A POI  NOT LISTED BELOW:" + "</strong>";
                    b.setAttribute("id", "autocomplete_header");
                    heading_created = true;
                }
                
                b = document.createElement("DIV");
                // b.innerHTML = "<strong>" + arr[i].substr(0, fieldVal.length) + "</strong>";
                match_index = arr[i].toUpperCase().search(fieldVal.toUpperCase());
                b.innerHTML += arr[i].substring(0, match_index);
                strong_text = arr[i].substring(match_index, match_index+fieldVal.length) 
                b.innerHTML += "<strong>" + strong_text + "</strong>";
                b.innerHTML += arr[i].substr(match_index+fieldVal.length, arr[i].length);
                b.innerHTML += "<input disabled type='hidden' value='" + arr[i] + "'>";
                divCreate.appendChild(b);
             }
          }
       });
       searchEle.addEventListener("keydown", function(e) {
          var autocompleteList = document.getElementById(
             this.id + "autocomplete-list"
          );
          if (autocompleteList)
             autocompleteList = autocompleteList.getElementsByTagName("div");
          if (e.keyCode == 40) {
             currentFocus++;
             addActive(autocompleteList);
          }
          else if (e.keyCode == 38) {
             //up
             currentFocus--;
             addActive(autocompleteList);
          }
          else if (e.keyCode == 13) {
             e.preventDefault();
             if (currentFocus > -1) {
                if (autocompleteList) autocompleteList[currentFocus].click();
             }
          }
       });
       function addActive(autocompleteList) {
          if (!autocompleteList) return false;
             removeActive(autocompleteList);
          if (currentFocus >= autocompleteList.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = autocompleteList.length - 1;
          autocompleteList[currentFocus].classList.add("autocomplete-active");
       }
       function removeActive(autocompleteList) {
          for (var i = 0; i < autocompleteList.length; i++) {
             autocompleteList[i].classList.remove("autocomplete-active");
          }
       }
       function closeAllLists(elmnt) {
          var autocompleteList = document.getElementsByClassName(
             "autocomplete-items"
          );
          for (var i = 0; i < autocompleteList.length; i++) {
             if (elmnt != autocompleteList[i] && elmnt != searchEle) {
                autocompleteList[i].parentNode.removeChild(autocompleteList[i]);
             }
          }
       }
       document.addEventListener("click", function(e) {
          closeAllLists(e.target);
       });
    }
    var poi_names = {{db_poi_names|tojson}};
    autocomplete(document.getElementById("name"), poi_names);
 </script>
{% endblock content %}