{% extends "base.html" %} {% block content %}

<!-- slider_area_start -->
<div class="slider_area mb-5">
  <div class="slider_active owl-carousel">
    <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Australia</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Vietnam</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_3 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Switzerland</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_4 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>America</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_5 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Egypt</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_6 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Switzerland</h3>
              <p></p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->
<div id="searchTag">
  <br />
  <br />
</div>

<!-- where_togo_area_start  -->
<!-- <div class="where_togo_area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-3">
                  <div class="form_area">
                      <h3>Where you want to go?</h3>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="search_wrap">
                      <form class="search_form" action="#">
                          <div class="input_field">
                              <input type="text" placeholder="Where to go?">
                          </div>
                          <div class="input_field">
                              <input id="datepicker" placeholder="Date">
                          </div>
                          <div class="input_field">
                              <select>
                                  <option data-display="Travel type">Travel type</option>
                                  <option value="1">Some option</option>
                                  <option value="2">Another option</option>
                              </select>
                          </div>
                          <div class="search_btn">
                              <button class="boxed-btn4 " type="submit" >Search</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

<!-- <p>{{search_defaults['Country']}}</p> -->
<!-- This is a hidden value for country default that javascript retrieves -->
<input
  id="countryDefaultVaule"
  name="countryDefaultVaule"
  type="hidden"
  value="{{search_defaults['Country']}}"
/>

<div id="where_togo_area" class="where_togo_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="form_area">
          <h3>Where you want to explore?</h3>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="search_wrap">
          <form class="search_form" method="POST" action="/home">
            <div class="input_field">
              <select name="selectCategory" id="selectCategory">
                <option data-display="Category">Category</option>
                {% for category in categories %} {% if
                search_defaults['Category'] == category %}
                <option selected value="{{category}}">{{category}}</option>
                {% else %}
                <option value="{{category}}">{{category}}</option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="input_field">
              <select name="selectRegion" id="selectRegion">
                <option data-display="Region">Region</option>
                {% for region in regions %} {% if search_defaults['Region'] ==
                region %}
                <option selected value="{{region}}">{{region}}</option>
                {% else %}
                <option value="{{region}}">{{region}}</option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="input_field">
              <select name="selectCountry" id="selectCountry">
                <option data-display="Country">Country</option>
                {% for country in countries %} {% if search_defaults['Country']
                == country %}
                <option selected value="{{country}}">{{country}}</option>
                {% else %}
                <option value="{{country}}">{{country}}</option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="input_field">
              <select name="selectRating" id="selectRating">
                <option data-display="Rating">Rating</option>
                {% if search_defaults['Rating'] == '5' %}
                <option selected value="5">5 stars</option>
                {% else %}
                <option value="5">5 stars</option>
                {% endif %} {% if search_defaults['Rating'] == '4' %}
                <option selected value="5">4 stars or highe</option>
                {% else %}
                <option value="4">4 stars or highe</option>
                {% endif %} {% if search_defaults['Rating'] == '3' %}
                <option selected value="3">3 stars or highe</option>
                {% else %}
                <option value="3">3 stars or highe</option>
                {% endif %} {% if search_defaults['Rating'] == '2' %}
                <option selected value="2">2 stars or highe</option>
                {% else %}
                <option value="2">2 stars or highe</option>
                {% endif %}
              </select>
            </div>
            <div class="search_btn">
              <button
                name="search_form_submit"
                class="boxed-btn4"
                type="submit"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- where_togo_area_end  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>
<!-- <script src="static/js/markerclustererplus.min.js"></script> -->
<!-- google_map_area_start  -->
<div id="google_map" class="google_map_area">
  <div class="">
    <div class="d-sm-block pb-4">
      <div
        id="map"
        style="
          width: 100%;
          height: 1020px;
          position: relative;
          overflow: hidden;
        "
      ></div>
      <script>

        //Create the Google Map
        var map;
        var is_authenticated='{{is_authenticated}}';
        var markerCluster;
        var markerCollection;
        var clusterMarkers = [];

        // Parse the posted data into a GeoJSon format required by Google Maps
        var poi_data_array = [];
        var poi_data = {};

        // let user_pois_list = [];

        var map_zoom = {{map_init['zoom']}};
        var map_center_lat = {{map_init['lat']}};
        var map_center_long = {{map_init['long']}};

        //create the infowindow data dictionary
        var infowindow_dict = {};
        var infowindow_user_dict = {};

        {% for poi in pois %}

            poi_data[{{loop.index}}]={'name': '{{poi.name}}', 'icon': "{{poi.icon}}", 'lat': '{{poi.lat}}','lng': '{{poi.lng}}'};
            poi_data_array.push(poi_data[{{loop.index}}]);

            infowindow_dict['{{poi.name}}'] = {'id': "{{poi.id}}",'category': "{{poi.category}}", 'description': "{{poi.description}}", 'rating': "{{poi.rating}}"};

        {% endfor %}

        //create the infowindow user list
        {% for poi in user_pois %}

            infowindow_user_dict['{{poi.id}}'] = {'user_rating': "{{poi.user_rating}}",'visited': "{{poi.visited}}", 'favorited': "{{poi.favorited}}"};

        {% endfor %}

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            zoom: map_zoom,
            center: {
              lat: map_center_lat,
              lng: map_center_long,
            },
            mapTypeId: google.maps.MapTypeId.TERRAIN,
          });

          const dataGeoJSON = GeoJSON.parse(poi_data_array, { Point: ["lat", "lng"] });
          markerCollection = map.data.addGeoJson(dataGeoJSON);

            // var markerCollection = map.data.loadGeoJson("static/map.geojson");

            // map.data.setStyle(function (feature) {
            //   var art = feature.getProperty("icon");
            //   var icons = customIcons[art] || {};
            //   return {
            //   //   icon: 'http://maps.google.com/mapfiles/ms/micons/pink-pushpin.png'
            //       icon: feature.getProperty("icon")
            //   };
            // });

          for (var i = 0, length = markerCollection.length;i < length;i++ ) {
            
            let feature = markerCollection[i];
            let marker = new google.maps.Marker({
                position: feature.getGeometry().get(),
                title: feature.getProperty('name'),
                icon: feature.getProperty("icon"),
                map: map,
            });

            clusterMarkers.push(marker);
            map.data.remove(feature);

            //Info Window
            marker.addListener("click", function (event) {

              var marker_name = marker.title;
              var id = infowindow_dict[marker_name]['id'];
              var category = infowindow_dict[marker_name]['category'];
              var description = infowindow_dict[marker_name]['description'];
              var rating = infowindow_dict[marker_name]['rating'];
              var hiddenButtons = 'style="display: none"';
              var hiddenDetails = 'style="display: none"';
              var ratingRadio1 = '';
              var ratingRadio2 = '';
              var ratingRadio3 = '';
              var ratingRadio4 = '';
              var ratingRadio5 = '';
              var favoriteCheck = ''
              var visitedCheck = '';

              console.log("USER INFOWINDOW DICT IS : " + infowindow_user_dict);

              if (is_authenticated=='True') {
                console.log("USER IS AUTHENTICATED.  POI ID IS: "+ id);
                console.log("POI NAME IS: " + marker_name);
                hiddenDetails ='';

                console.log(infowindow_user_dict[id])

                // if (user_pois_list.includes(parseInt(id))) {
                user_poi_infowindow_dict =  infowindow_user_dict[id]
                if (user_poi_infowindow_dict) {
                  console.log("SHOWING DETAILS FOR THIS POI: "+ marker_name);
                  hiddenButtons ='';

                  user_poi_rating = user_poi_infowindow_dict['user_rating'];
                  user_poi_visited = user_poi_infowindow_dict['visited'];
                  user_poi_favorited = user_poi_infowindow_dict['favorited'];

                  if (user_poi_rating ==1) {
                    ratingRadio1 = 'checked';
                  } else if (user_poi_rating ==2){
                    ratingRadio2 = 'checked';
                  } else if (user_poi_rating ==3){
                    ratingRadio3 = 'checked';
                  } else if (user_poi_rating ==4){
                    ratingRadio4 = 'checked';
                  } else if (user_poi_rating ==5){
                    ratingRadio5 = 'checked';
                  }

                  if (user_poi_visited=='True') {
                    visitedCheck = 'checked';
                  }
                  if (user_poi_visited=='True') {
                    favoriteCheck = 'checked';
                  }

                }
              }


              var html_content =
                "<head><link rel='stylesheet' href='static/css/style.css'/></head>" +
                "<div class='gm-style-iw' id='content'>" +
                  '<div id="siteNotice" </div>'+
                  '<h1 id="firstHeading" class="firstHeading">'+marker_name+'</h1>'+
                  '<h2 id="categoryHeading" class="categoryHeading">'+category+'</h2>'+
                  '<div id="bodyContent">'+
                    '<p>'+description+'</p>'+
                    '<p>Average User rating: '+ rating + '</p>'+
                    '<div ' + hiddenButtons +'>' +
                      '<a class="btn btn-secondary btn-sm mt-1 mb-1" href="/poi/'+id+'/update">Update</a>'+
                      '<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>'+
                    '</div>'+
                    '<div ' + hiddenDetails +'>' +
                      '<form method="POST" action="/home" target="dummyframe">'+
                      '<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>' +
                        '<div class="mt-1 mb-1">'+
                          '<div class="form-check form-check-inline ">'+
                            '<input class="form-check-input" type="radio" name="ratingOptions" id="ratingOptions1" value="1" ' + ratingRadio1 +'>'+
                            '<label class="form-check-label" for="ratingOptions1">1</label>'+
                          '</div>'+
                          '<div class="form-check form-check-inline">'+
                            '<input class="form-check-input" type="radio" name="ratingOptions" id="ratingOptions2" value="2"' + ratingRadio2 +'>'+
                            '<label class="form-check-label" for="ratingOptions2">2</label>'+
                          '</div>'+
                          '<div class="form-check form-check-inline">'+
                            '<input class="form-check-input" type="radio" name="ratingOptions" id="ratingOptions3" value="3"' + ratingRadio3 +'>'+
                            '<label class="form-check-label" for="ratingOptions3">3</label>'+
                          '</div>'+
                          '<div class="form-check form-check-inline">'+
                            '<input class="form-check-input" type="radio" name="ratingOptions" id="ratingOptions4" value="4"' + ratingRadio4 +'>'+
                            '<label class="form-check-label" for="ratingOptions3">4</label>'+
                          '</div>'+
                          '<div class="form-check form-check-inline">'+
                            '<input class="form-check-input" type="radio" name="ratingOptions" id="ratingOptions5" value="5"' + ratingRadio5 +'>'+
                            '<label class="form-check-label" for="ratingOptions3">5</label>'+
                          '</div>'+
                        '</div>'+
                        '<div class="mt-1 mb-1">' +
                          '<div class="form-check-inline">'+
                          '<input type="checkbox" class="form-check-input" name="favoriteChecked" value="Yes" id="favoritetCheck "' + favoriteCheck +'>'+
                          '<label class="form-check-label" for="favoritetCheck">favorite</label>'+
                          '</div>'+
                          '<div class="form-check-inline">'+
                          '<input type="checkbox" class="form-check-input" name="visitedChecked" value="Yes" id="visitedtCheck "'+ visitedCheck +'>'+
                          '<label class="form-check-label" for="visitedtCheck">explored</label>'+
                          '</div>'+
                          '<input type="hidden" id="poi_id" name="poi_id" value="'+id+'">'+
                          '<button name="infowindow_form_submit" type="submit" class="btn btn-primary btn-sm">Submit</button>'+
                        '</div>'+
                      '</form>'+
                    '</div>'+
                  '</div>'+
                '</div>'


              infowindow = new google.maps.InfoWindow({
                content: html_content,
              });

              infowindow.open(map, marker);
            });

            google.maps.event.addListener(map, "click", function () {
            infowindow.close();
            });
          }

          // Marker Clustering
          markerCluster = new MarkerClusterer(map, clusterMarkers,
          { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap"></script>
      <!-- <script src="static/js/markerclusterer.js"></script> -->
    </div>
  </div>
</div>
<!-- google_map_area_end  -->
<br />
<!-- database table_area_start  -->
<div class="db_table_area">
  <!-- <div class="container"> -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">category</th>
        <th scope="col">country</th>
        <th scope="col">region</th>
        <th scope="col">description</th>
        <th scope="col">rating</th>
        <th scope="col">update</th>
      </tr>
    </thead>
    <tbody>
      {% for poi in pois %}
      <tr>
        <td>{{poi.user_id}}</td>
        <td>{{poi.name}}</td>
        <td>{{poi.category}}</td>
        <td>{{poi.country}}</td>
        <td>{{poi.region}}</td>
        <td>{{poi.description}}</td>
        <td>{{poi.rating}}</td>
        <td><a href="/poi/{{poi.id}}/update">update</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- </div> -->
</div>
<!-- database table_area_end  -->

<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>Popular Destinations</h3>
          <p>
            Come and explore the most popular places visited by flight sim users
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/Africa.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              Africa <a href="travel_destination.html"> 07 Places</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/Asia.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              Asia <a href="travel_destination.html"> 03 Places</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/Australia.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              Australia<a href="travel_destination.html"> 10 Places</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/Europe.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              Europe <a href="travel_destination.html"> 02 Places</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/South America.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              South America <a href="travel_destination.html"> 02 Places</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="static/img/destination/North America.png" alt="" />
          </div>
          <div class="content">
            <p class="d-flex align-items-center">
              North America <a href="travel_destination.html"> 05 Places</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popular_destination_area_end  -->

<!-- Delete Modal -->
<div class="custom_search_pop">
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">
            Are you sure you want to delete this point of interest?
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <form action="{{ url_for('delete_post', poi_id=2) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
