{% extends "base.html" %} {% block content %}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Australia</h3>
                            <p></p>
                            <a href="#searchTag" class="boxed-btn3" data-value="Australia">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>French Oceania</h3>
                            <p></p>
                            <a href="#searchTag" class="boxed-btn3" data-value="French Oceania">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Russia</h3>
                            <p></p>
                            <a href="#searchTag" class="boxed-btn3" data-value="Russian Federation">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_4 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Nepal</h3>
                            <p></p>
                            <a href="#searchTag" class="boxed-btn3" data-value="Nepal">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_6 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>New Zealand</h3>
                            <p></p>
                            <a href="#searchTag" class="boxed-btn3" data-value="New Zealand">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- where_togo_area_start  -->
<div id="searchTag"></div>
<!-- This is a hidden value for country default that javascript retrieves -->
<input
        id="countryDefaultVaule"
        name="countryDefaultVaule"
        type="hidden"
        value="{{search_defaults['Country']}}"
/>

<div id="where_togo_area" class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Where you want explore?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form id="search_form" class="search_form" method="POST" action="/home#searchTag">
                        <div class="input_field">
                            <select name="selectCategory" id="selectCategory">
                                <option data-display="Category">Category</option>
                                {% for category in categories %} {% if
                                search_defaults['Category'] == category %}
                                <option selected value="{{category}}">{{category}}</option>
                                {% else %}
                                <option value="{{category}}">{{category}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select name="selectRegion" id="selectRegion">
                                <option data-display="Region">Region</option>
                                {% for region in regions %} {% if search_defaults['Region'] ==
                                region %}
                                <option selected value="{{region}}">{{region}}</option>
                                {% else %}
                                <option value="{{region}}">{{region}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select name="selectCountry" id="selectCountry">
                                <option data-display="Country">Country</option>
                                {% for country in countries %} {% if search_defaults['Country']
                                == country %}
                                <option selected value="{{country}}">{{country}}</option>
                                {% else %}
                                <option value="{{country}}">{{country}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select name="selectRating" id="selectRating">
                                <option data-display="Rating">Rating</option>
                                {% if search_defaults['Rating'] == '5' %}
                                <option selected value="5">5 stars</option>
                                {% else %}
                                <option value="5">5 stars</option>
                                {% endif %} {% if search_defaults['Rating'] == '4' %}
                                <option selected value="4">4 stars or higher</option>
                                {% else %}
                                <option value="4">4 stars or higher</option>
                                {% endif %} {% if search_defaults['Rating'] == '3' %}
                                <option selected value="3">3 stars or higher</option>
                                {% else %}
                                <option value="3">3 stars or higher</option>
                                {% endif %} {% if search_defaults['Rating'] == '2' %}
                                <option selected value="2">2 stars or higher</option>
                                {% else %}
                                <option value="2">2 stars or higher</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="search_btn">
                            <button name="search_form_submit" class="boxed-btn4" type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center"></div>
        <div class="float-right mt-2">
            <form class="show_only_user_pois_form" method="POST" action="/home#searchTag">
                <div class="input_field">
                    {% if current_user.username %}
                    {% if search_defaults['filter_user_pois'] == 'Yes' %}
                    <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                           name="show_ony_user_pois_check" id="show_ony_user_pois_check" value="Yes" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                           name="show_ony_user_pois_check" id="show_ony_user_pois_check" value="Yes">
                    {% endif %}
                    <input type="hidden" name="show_ony_user_pois_check" value="No" id="show_ony_user_pois_check ">
                    <label class="form-check-label" for="show_ony_user_pois_check">show only my points of
                        interest</label>
                    {% endif %}


                </div>
            </form>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>
<!-- <script src="static/js/markerclustererplus.min.js"></script> -->
<!-- google_map_area_start  -->
<div id="google_map" class="google_map_area">
    <div class="">
        <div class="d-sm-block pb-4">
            <div
                    id="map"
                    style="
          width: 100%;
          height: 1020px;
          position: relative;
          overflow: hidden;
        "
            ></div>
      <script>

        //Create the Google Map
        var map;
        var flightPath;
        var flightPath_data = []
        var is_authenticated='{{is_authenticated}}';
        var markerCluster;
        var markerCollection;
        var clusterMarkers = [];


        // Parse the posted data into a GeoJSon format required by Google Maps
        var poi_data_array = [];
        var poi_data = {};

        // let user_pois_list = [];

        var map_zoom = {{map_init['zoom']}};
        var map_center_lat = {{map_init['lat']}};
        var map_center_long = {{map_init['long']}};

        //create the infowindow data dictionary
        infowindow_dict = {}
        var pois_array = {{pois|tojson}};
        var user_pois = {{user_pois_json|tojson}};
        var user_ratings_dict = {{user_ratings|tojson}};
        var user_favorites = {{user_favorites|tojson}};
        var user_visited = {{user_visited|tojson}};

        pois_array.forEach(function (poi, index) {
          infowindow_dict[poi.name] = {'id': poi.id,'category': poi.category, 'country': poi.country, 'latitude': poi.lat, 'longitude': poi.lng, 'description': poi.description, 'rating': poi.rating};
        });

        //Update Country Select values
        function copy_latLon() {

          var textBox = document.getElementById("poi_lat_long");
          textToClipboard(textBox.value);
          $("#copylatlong").html('Copied');

        };

        function textToClipboard (latlong) {
          var dummy = document.createElement("textarea");
          document.body.appendChild(dummy);
          dummy.value = latlong;
          dummy.select();
          document.execCommand("copy");
          document.body.removeChild(dummy);
          // alert("Copied the text: " + dummy.value);
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            zoom: map_zoom,
            center: {lat: map_center_lat, lng: map_center_long},
            fullscreenControl: false,
            // mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
              mapTypeIds: ["roadmap", "terrain"]
            },
            mapTypeControl: true,
          });

          const dataGeoJSON = GeoJSON.parse(pois_array, { Point: ["lat", "lng"] });
          markerCollection = map.data.addGeoJson(dataGeoJSON);

          //Allow user to create a flight plan
          flightPath = new google.maps.Polyline({
            geodesic: true,
            strokeColor: '#cf4ddb',
            strokeOpacity: 0.5,
            strokeWeight: 5
          });

          loadFlightPlan(flightPath, map);

          //info window to add new poi
          var currentMark;
          addpoi_infowindow = new google.maps.InfoWindow;
          map.addListener('rightclick', function(event) {
          // map.setCenter(event.latLng);
          // map.setZoom(14);
          currentMark = new google.maps.Marker({map: map, }),
          currentMark.setPosition(event.latLng);
          var lat = event.latLng.lat().toFixed(6);
          var lng = event.latLng.lng().toFixed(6);
          var add_poi_location = lat + ', ' + lng;
  

          var add_poi_iw_html_content =
                "<head><link rel='stylesheet' href='static/css/style.css'/></head>" +
                  "<div class='gm-style-iw' id='iw-container'>" +
                    // "<div class='add_poi_iw_body'>"+
                    //   "Latitude: " + lat + "<br>" + "Longitude: " + lng +
                    // "</div>" +
                    '<div class="my-2 p-1 border border-seconday iw_copy_latlng">'+
                          '<p class="iw_latlng"><i class="mx-2 fas fa-map-marker-alt" style="color:#993426;"></i>  '+ lat + ', ' + lng + ' <button id="copylatlong"  class="btn btn-outline-secondary btn-sm mx-2 py-0" style="font-size: 0.8em;" onclick="copy_latLon()">Copy</button> ' +'</p>'+
                          '<input type="hidden" id="poi_lat_long" name="poi_lat_long" value="'+lat+', ' + lng+'">'+
                        '</div>'+
                    '<div id="btn_add_new_poi_iw" class="mt-3 mb-1 ">' +
                      // '<a href="/poi/new" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Primary link</a>'+
                      '<a href="/poi/new/'+ add_poi_location + '" class="btn btn-primary btn-sm btn-block" role="button" aria-pressed="true">Create POI at this location</a>'+
    
                    '</div>' +
                  '</div>'


          addpoi_infowindow.setContent(add_poi_iw_html_content);
          addpoi_infowindow.open(map, currentMark);
        });

        google.maps.event.addListener(addpoi_infowindow,'closeclick',function(){
          currentMark.setMap(null); //removes the marker
          
        });
          

          for (var i = 0, length = markerCollection.length;i < length;i++ ) {
            
            let feature = markerCollection[i];
            let marker = new google.maps.Marker({
                position: feature.getGeometry().get(),
                title: feature.getProperty('name'),
                icon: feature.getProperty("icon"),
                map: map,
            });

            clusterMarkers.push(marker);
            map.data.remove(feature);

            //Info Window on Poi
            marker.addListener("click", function (event) {

              var marker_name = marker.title;
              var id = infowindow_dict[marker_name]['id'];
              var latitude = infowindow_dict[marker_name]['latitude'];
              var longitude = infowindow_dict[marker_name]['longitude'];
              var category = infowindow_dict[marker_name]['category'];
              var country = infowindow_dict[marker_name]['country'];
              var description = infowindow_dict[marker_name]['description'];
              var rating = infowindow_dict[marker_name]['rating'];
              var hiddenButtons = 'style="display: none"';
              var hiddenDetails = 'style="display: none"';
              var showAddWaypointBtn = 'd-none';
              var showRemoveWaypointBtn = 'd-none';
              
              // var hiddenRatings = '';
              var ratingRadio1 = '';
              var ratingRadio2 = '';
              var ratingRadio3 = '';
              var ratingRadio4 = '';
              var ratingRadio5 = '';
              var favoriteCheck = 'far'
              var visitedCheck = 'fa-square';

              // var showAddWaypointBTN  = 
              //   '<div id="btn_addPoiToFlightPlan" class="my-2">' +
              //     '<button class="btn btn-success btn-sm mx-2 py-0"  onclick="addPoiToFlightPlan(' + latitude + ', ' + longitude + ')">Add to Flight plan</button> '+
              //   '</div>'


              if (is_authenticated=='True') {
                console.log("USER IS AUTHENTICATED.  POI ID IS: "+ id);
                console.log("POI NAME IS: " + marker_name);
                hiddenDetails ='';


                // if (user_pois_list.includes(parseInt(id))) {
                // user_poi_infowindow_dict =  infowindow_user_dict[id]
                if (user_pois.includes(id)) {
                  console.log("SHOWING DETAILS FOR THIS POI: "+ marker_name);
                  hiddenButtons ='';
                }

                user_poi_rating = user_ratings_dict[id]
                
                //  Hide star rating if already rated??
                // if (user_poi_rating) {
                //   hiddenRatings = 'style="display: none"';
                // }

                if (user_poi_rating ==1) {
                  ratingRadio1 = 'checked';
                } else if (user_poi_rating ==2){
                  ratingRadio2 = 'checked';
                } else if (user_poi_rating ==3){
                  ratingRadio3 = 'checked';
                } else if (user_poi_rating ==4){
                  ratingRadio4 = 'checked';
                } else if (user_poi_rating ==5){
                  ratingRadio5 = 'checked';
                }

                if (user_visited.includes(id)) {
                  visitedCheck = 'fa-check-square';
                }
                if (user_favorites.includes(id)) {
                  favoriteCheck = 'fas';
                }
              }

              //show or hide add/remove waypoint buttons
              if (hasWaypointBeenAdded(flightPath, latitude, longitude )) {

                showRemoveWaypointBtn = '';
                // $("#btn_addPoiToFlightPlan").addClass("d-none");
                // $("#btn_removePoiToFlightPlan").removeClass("d-none");
                // console.log("waypoint has been added before")
                } else {

                showAddWaypointBtn = '';
                // $("#btn_removePoiToFlightPlan").addClass("d-none");
                // $("#btn_addPoiToFlightPlan").removeClass("d-none");
                // console.log("waypoint has NOT been added ")
              }
              
              
              var html_content =
                "<head><link rel='stylesheet' href='static/css/style.css'/></head>" +

                  "<div class='gm-style-iw' id='iw-container'>" +

                      "<div class='gm-style-iw' id='iw-container'>" +
                          '<div class="iw-poi_header">'+
                            '<div style="cursor:pointer">'+
                              "<a href='https://www.google.com/search?q=" + marker_name + ", "+ category + ", "+ country +"' target='_blank'>" +
                                '<h3 id="firstHeading">'+marker_name+'</h3>'+
                                '<h4 id="categoryHeading" class=" font-italic ">'+category+'</h4>'+
                              '</a>' +
                            '</div>'+             
                            '<div>'+  
                              '<span class="iw_rating_text" style="color: black;">Community rating: '+ rating + '</span>'+
                            '</div>'+ 
                            '<div class="d-flex justify-content-center"' + hiddenDetails +'>' +
                              '<div class="IW_Rating">'+
                                '<form id="formIWrating" method="POST" action="/iw_post" target="dummyframe">'+
                                '<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>' +
                                  '<div class="poi_rating d-flex justify-content-center">'+
                                    '<input id="ratingOptions5" name="ratingOptions" type="radio" value="5" class="radio-btn hide" onclick="this.form.submit()" />'+
                                    '<label for="ratingOptions5" >☆</label>'+
                                    '<input id="ratingOptions4" name="ratingOptions" type="radio" value="4" class="radio-btn hide" onclick="this.form.submit()"/>'+
                                    '<label for="ratingOptions4" >☆</label>'+
                                    '<input id="ratingOptions3" name="ratingOptions" type="radio" value="3" class="radio-btn hide" onclick="this.form.submit()"/>'+
                                    '<label for="ratingOptions3" >☆</label>'+
                                    '<input id="ratingOptions2" name="ratingOptions" type="radio" value="2" class="radio-btn hide" onclick="this.form.submit()"/>'+
                                    '<label for="ratingOptions2" >☆</label>'+
                                    '<input id="ratingOptions1" name="ratingOptions" type="radio" value="1" class="radio-btn hide" onclick="this.form.submit()"/>'+
                                    '<label for="ratingOptions1" >☆</label>'+
                                    '<div class="clear"></div>'+     
                                    '<input type="hidden" name="poi_id" value="'+id+'">'+                           
                                  '</div>'+
                                '</form>'+
                              '</div>'+
                            '</div>'+
                            '<div class="iw_header_fas_icons "'+ hiddenDetails + '>' +

                                '<a style="cursor:pointer" onclick="iw_update_visited(\'' + id + '\')"><i id="iw_icon_visited" class="far ' + visitedCheck + ' fa-fw fa-lg" style="color:#1a1a1a;"></i></a>'+
                                '<a style="cursor:pointer" onclick="iw_update_favorite(\'' + id + '\')"><i id="iw_icon_fav" class=" ' + favoriteCheck + ' fa-heart fa-fw fa-lg" style="color:#9e0808;"></i></a>'+
                                '</div>'+  
                        '</div>'+
                    '<div id="bodyContent">'+
                        '<div class="my-2 p-1 border border-seconday iw_copy_latlng">'+
                          '<p class="iw_latlng"><i class="mx-2 fas fa-map-marker-alt" style="color:#993426;"></i>  '+ latitude + ', ' + longitude + ' <button id="copylatlong"  class="btn btn-outline-secondary btn-sm mx-2 py-0" style="font-size: 0.8em;" onclick="copy_latLon()">Copy</button> ' +'</p>'+
                          '<input type="hidden" id="poi_lat_long" name="poi_lat_long" value="'+latitude+', ' + longitude+'">'+
                        '</div>'+
                        '<div class="my-2">'+
                          '<p class="iw_description">'+ description + '</p>'+
                        '</div>'+
                        '<hr class="my-2"/>' +
                      '<div>'+
                        '<div id="btn_addPoiToFlightPlan" class="mt-3 mb-1 ' + showAddWaypointBtn + '">' +
                            `<button class='btn btn-primary btn-sm mx-2 py-1'  onclick='addPoiToFlightPlan(` + latitude + `, ` + longitude +  `, "` + marker_name.replace("'", "&#39") +`")'>Add to Flight plan</button> `+
                          '</div>' +
                        '<div id="btn_removePoiToFlightPlan" class="my-2 '+ showRemoveWaypointBtn + '">' +
                          "<button class='btn btn-danger btn-sm mx-2 py-1' onclick='removePoiToFlightPlan(" + latitude + ", " + longitude +  ", \"" + marker_name.replace("'", "&#39") + "\")'>Remove from Flight plan</button> "+
                        '</div>'+
                      '</div>'+
                      '<div class="iw_update_delete_fas_icons "'+ hiddenButtons + '>' +
                        '<a style="cursor:pointer" href="/poi/'+id+'/update"><i id="iw_update_poi" class="fas fa-edit fa-fw fa-lg" style="color:#5c5b5b;"></i></a>'+
                        '<a class="iw_delete_poi" style="cursor:pointer" href="#" data-id="'+ id +'" data-toggle="modal" data-target="#deleteModal"><i id="iw_image_delete_poi" class="far fa-trash-alt fa-fw fa-lg" style="color:#9e0808;"></i></a>'+
                      '</div>'+  
                  '</div>'


              infowindow = new google.maps.InfoWindow({
                content: html_content,

              });

              infowindow.open(map, marker);
            
              google.maps.event.addListener(map, "click", function () {
                infowindow.close();
              });            
            });

          }

          // Marker Clustering
          markerCluster = new MarkerClusterer(map, clusterMarkers,
          { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

          //Create custon flight plan control
          const flightPlanDiv = document.createElement("div");
          styleflightPlanBtn(flightPlanDiv, map, flightPath);
          map.controls[google.maps.ControlPosition.TOP_RIGHT].push(flightPlanDiv);

        }

        function iw_update_favorite(poi_id){  
          
          var favorite_checked;

          if ($("#iw_icon_fav").hasClass("fas")) {
            $("#iw_icon_fav").removeClass("fas").addClass("far");
            favorite_checked  = "";
          } else {
            $("#iw_icon_fav").removeClass("far").addClass("fas");
            favorite_checked  = "Yes";
          }
          $.post("/iw_post", {"favoriteChecked": favorite_checked, "poi_id": poi_id})
        }

        function iw_update_visited(poi_id){

          var visited_checked;

          if ($("#iw_icon_visited").hasClass("fa-check-square")) {
            $("#iw_icon_visited").removeClass("fa-check-square").addClass("fa-square");
            visited_checked = "";
          } else {
            $("#iw_icon_visited").removeClass("fa-square").addClass("fa-check-square");
            visited_checked = "Yes";
          }
          $.post("/iw_post", {"visitedChecked": visited_checked, "poi_id": poi_id})
        }

        //Add a new point to the FlightPath
        function addPoiToFlightPlan(latitude, longitude, waypoint) {
          const path = flightPath.getPath();
          var latLng = [latitude, longitude]

          // Because path is an MVCArray, we can simply append a new coordinate and it will automatically appear.
          path.push(new google.maps.LatLng(latLng[0], latLng[1]));

          // We also need to add additional data to flightPath_data so we can create a flight plan
          flightPath_data.push({'latLng': latLng, 'waypoint': waypoint})

          //enable modal buttons if valid flight plan
          if (flightPath_data.length > 0){
            $('#fp_save_btn').removeAttr('disabled')
            $('#fp_delete_btn').removeAttr('disabled')
          } 

          //hide the add button and display the remove button
          $("#btn_addPoiToFlightPlan").addClass("d-none");
          $("#btn_removePoiToFlightPlan").removeClass("d-none");

          infowindow.close()


          // Add a new marker at the new plotted point on the polyline.
          // new google.maps.Marker({
          //   position: event.latLng,
          //   title: "#" + path.getLength(),
          //   map: map
          // });
        }

        function removePoiToFlightPlan(latitude, longitude, waypoint) {
          const path = flightPath.getPath();  
          var flightpath_array = path.getArray()
          
          for (let i = 0; i < flightpath_array.length; i++) {
            
            // if ((flightpath_array[i].lat() == latitude) && (flightpath_array[i].lat()  == longitude)) {
            if (flightpath_array[i].lat() == latitude) {
              if (flightpath_array[i].lng()  == longitude) {
                path.removeAt(i);
                // We also need to remove additional data to flightPath_data so we can create a flight plan
                // flightPath_data.removeAt(i);
                flightPath_data.splice(i, 1);
                // delete flightPath_data[i];     //indexs wont change with this method
                break;

              }
            }  
          }

          //disable modal buttons if not valid flight plan
          if (flightPath_data.length < 1){
            $('#fp_save_btn').attr('disabled', 'disabled');
            $('#fp_delete_btn').attr('disabled', 'disabled');
          } 

          //hide the remove button and display the add button
          $( "#btn_removePoiToFlightPlan" ).addClass("d-none");
          $("#btn_addPoiToFlightPlan").removeClass("d-none");

          infowindow.close()

        }

        function deleteFlightPlan() {
          // flightPath.setMap(null);
          flightPath.getPath().clear()
          flightPath_data = [];
          $("#Flight_plan_modal").modal('hide');
          $('#fp_save_btn').attr('disabled', 'disabled');
          $('#fp_delete_btn').attr('disabled', 'disabled');
        }

        function loadFlightPlan(flightPath, map) {
          flightPath.setMap(map);
        }

        function hasWaypointBeenAdded(flightPath, latitude, longitude ) {

          const path = flightPath.getPath();  
          var flightpath_array = path.getArray()

          for (let i = 0; i < flightpath_array.length; i++) {
            
            // if ((flightpath_array[i].lat() == latitude) && (flightpath_array[i].lat()  == longitude)) {
            if (flightpath_array[i].lat() == latitude) {
              if (flightpath_array[i].lng()  == longitude) {

                return true;
              }
            }          
          }
          return false;  
        }


        function styleflightPlanBtn(controlDiv, map, flightPath) {

          // Set CSS for the control border.
          const controlUI = document.createElement('div');
          controlUI.classList = "Map_Flight_Plan_Btn btn btn-success"
          controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
          controlUI.style.cursor = "pointer";
          controlUI.style.margin = "15px";
          controlUI.style.textAlign = "center";
          controlUI.title = "Flight Plan";
          controlDiv.appendChild(controlUI);
          
          // Set CSS for the control interior.
          const controlText = document.createElement("div");
          controlText.classList = "Map_Flight_Plan_Text"
          controlText.innerHTML = "Flight Plan";
          controlUI.appendChild(controlText);

          // open up flight plan modal
          controlUI.addEventListener("click", () => {

            buildFlightPlanModalBody(flightPath_data);
          });
        }



            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap"
                    async defer></script>
            <!-- <script src="static/js/markerclusterer.js"></script> -->
        </div>
    </div>
</div>
<!-- google_map_area_end  -->
<br/>
<!-- database table_area_start  -->
<!-- <div class="db_table_area"> -->

<!--  see html text resources folder to pase back in here-->

<!-- database table_area_end  -->

<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Popular Destinations</h3>
                    <p>
                        Come and explore the most popular places visited by flight sim users
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Africa.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Africa <a href="/topten_pois/Africa">top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Asia.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Asia <a href="/topten_pois/Asia"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Europe.png" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Europe <a href="/topten_pois/Europe"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/South_America.png" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            South America <a href="/topten_pois/South America"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/North_America.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            North America <a href="/topten_pois/North America"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Oceania.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Oceania<a href="/topten_pois/Oceania"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_destination_area_end  -->

<!-- Flight Plan Modal -->
<div class="Flight_plan_modal">
    <div class="modal fade Flight_plan_modal" id="Flight_plan_modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header Flight_plan_modal_header text-center">
                    <h5 class="modal-title">My Flight Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="Flight_plan_modal_body_id" class="modal-body flight_plan_modal_body">
                    <!-- <p>Modal body text goes here.</p> -->
                </div>
                <div class="modal-footer">
                    <button id="fp_save_btn" type="button" class="btn btn-primary" disabled
                            onclick="exportFlightPlan(flightPath_data)">Export Flight Plan
                    </button>
                    <button id="fp_delete_btn" type="button" class="btn btn-danger" disabled
                            onclick="deleteFlightPlan()">Delete Flight Plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="custom_search_pop">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this point of interest?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>
                    <!-- <span id="poi"></span> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <!-- <form action="{{ url_for('pois.delete_poi', poi_id=2) }}" method="POST"> -->
                    <form id="delete_poi_confirm" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
$(document).on("click", ".iw_delete_poi", function () {
    
    var eventId = $(this).data('id');
    var form_action = '/poi/' + eventId + '/delete'
    console.log(form_action)
    $("#delete_poi_confirm").attr('action', form_action);
    console.log(eventId);
    $('#poi').html( eventId );
});
</script>
{% endblock content %}
