{% extends "base.html" %} {% block content %}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center slider_bg_6 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Iceland</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Iceland">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_17 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>France</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="France">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_18 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Great Britain</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Great Britain">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_19 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>French Polynesia</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="French Polynesia">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Australia</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Australia">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Japan</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Japan">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Madagascar</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Madagascar">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_4 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>USA</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="United States of America">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_5 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Guatemala</h3>
                            <p></p>
                            <a href="#" class="boxed-btn3" data-value="Guatemala">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- slider_area_end -->


<!-- where_togo_area_start  -->
<div id="searchTag"></div>
<!-- This is a hidden value for country default that javascript retrieves -->
<input id="countryDefaultVaule" name="countryDefaultVaule" type="hidden" value="{{search_defaults['Country']}}"/>
<input id="searchResults" name="searchResults" type="hidden" value="{{pois_found}}"/>
<input id="poiCreated" name="searchResults" type="hidden" value="{{pois_created}}"/>
<input id="poiUpdated" name="searchResults" type="hidden" value="{{pois_updated}}"/>
<!-- <input id="viewFlightplan" name="searchResults" type="hidden" value="{{view_flightplan}}"/> -->

<div id="where_togo_area" class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 mr-0">
                <div class="form_area">
                    <h3>Where you want to explore?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form id="search_form" class="search_form" method="POST" action="/home#searchTag">
                        <div class="input_field">
                            <select class="search_select" name="selectCategory" id="selectCategory" data-size="5">
                                <option data-display="Category">Category</option>
                                {% for category in categories %} {% if
                                search_defaults['Category'] == category %}
                                <option selected value="{{category}}">{{category}}</option>
                                {% else %}
                                <option value="{{category}}">{{category}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select class="search_select" name="selectRegion" id="selectRegion">
                                <option data-display="Region">Region</option>
                                {% for region in regions %} {% if search_defaults['Region'] ==
                                region %}
                                <option selected value="{{region}}">{{region}}</option>
                                {% else %}
                                <option value="{{region}}">{{region}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select class="search_select" name="selectCountry" id="selectCountry">
                                <option data-display="Country">Country</option>
                                {% for country in countries %} {% if search_defaults['Country']
                                == country %}
                                <option selected value="{{country}}">{{country}}</option>
                                {% else %}
                                <option value="{{country}}">{{country}}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <div class="input_field">
                            <select class="search_select" name="selectRating" id="selectRating">
                                <option data-display="Rating">Rating</option>
                                {% if search_defaults['Rating'] == '5' %}
                                <option selected value="5">5 stars</option>
                                {% else %}
                                <option value="5">5 stars</option>
                                {% endif %} {% if search_defaults['Rating'] == '4' %}
                                <option selected value="4">4 stars or higher</option>
                                {% else %}
                                <option value="4">4 stars or higher</option>
                                {% endif %} {% if search_defaults['Rating'] == '3' %}
                                <option selected value="3">3 stars or higher</option>
                                {% else %}
                                <option value="3">3 stars or higher</option>
                                {% endif %} {% if search_defaults['Rating'] == '2' %}
                                <option selected value="2">2 stars or higher</option>
                                {% else %}
                                <option value="2">2 stars or higher</option>
                                {% endif %}
                            </select>
                        </div>
                        <!-- <div class="poi_search_field autocomplete">
                            <input id="poi_search_field_input" type="text" class="search_text" name="poi_search_field_input" placeholder="POI">
                            
                        </div> -->
                        <div class="search_btn">
                            <button id="search_form_submit_btn" name="search_form_submit" class="boxed-btn4"
                                    type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center"></div>
        <div class="d-flex flex-row-reverse mb-0">
            <div class="">
                <form class="mt-2 ml-4 show_msfs_airports_form" method="POST" action="/home#searchTag">
                    <div class="input_field">

                            {% if show_msfs_airports == 'Yes' %}
                                <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                                    name="show_msfs_airports_check" id="show_msfs_airports_check" value="Yes" checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                                    name="show_msfs_airports_check" id="show_msfs_airports_check" value="Yes">
                            {% endif %}
                            <input type="hidden" name="show_msfs_airports_check" value="No" id="show_msfs_airports_check ">
                            <label class="form-check-label" for="show_msfs_airports_check">show MSFS airports</label>
    
                    </div>
                </form>
            </div>
            <div class="">
                <form class="mt-2 mx-4 show_my_flights_form" method="POST" action="/home#searchTag">
                    <div class="input_field">
                        {% if current_user.username %}
                            {% if user_flights %}
                                {% if show_my_flights == 'Yes' %}
                                    <input type="checkbox" class="form-check-input" id="show_my_flights_check" onclick="this.form.submit()"
                                        name="show_my_flights_check"  value="No" checked >
                                {% else %}
                                    <input type="checkbox" class="form-check-input" id="show_my_flights_check" onclick="this.form.submit()"
                                        name="show_my_flights_check"  value="Yes" >
                                {% endif %}
                                <input type="hidden" name="show_my_flights_check" value="No" id="show_my_flights_check ">
                                <label class="form-check-label" for="show_my_flights_check">show my flights</label>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </form>
            </div>  
            <div class="">
                <form class="mt-2 mx-4 show_only_user_pois_form" method="POST" action="/home#searchTag">
                    <div class="input_field">
                        {% if current_user.username %}
                            {% if search_defaults['filter_user_pois'] == 'Yes' %}
                                <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                                    name="show_ony_user_pois_check" id="show_ony_user_pois_check" value="Yes" checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" onclick="this.form.submit()"
                                    name="show_ony_user_pois_check" id="show_ony_user_pois_check" value="Yes">
                            {% endif %}
                            <input type="hidden" name="show_ony_user_pois_check" value="No" id="show_ony_user_pois_check ">
                            <label class="form-check-label" for="show_ony_user_pois_check">show only my POI's</label>
                        {% endif %}
                    </div>
                </form>
            </div> 
            <!-- <div class="">
                <form class="mt-2 mx-4 show_only_user_pois_form" method="POST" action="/home#searchTag">
                    <div class="input_field">
                        {% if current_user.id == 3 %}
                            <input type="checkbox" id="get_active_flights_checkbox" class="form-check-input" name="get_active_flights" >
                            <label class="form-check-label">show active flight</label>
                        {% endif %}
                    </div>
                </form>
            </div>  -->

        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<!-- tips and tricks START-->
<div id='tips-and-tricks_flash' class="tips-and-tricks p-2 m-0 carousel slide" data-ride="carousel" data-interval=15000>
    

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="tips-and-tricks-text text-center">Right-click on map to create POI or add waypoint to flightplan</p>
          </div>
          <div class="carousel-item">
            <p class="tips-and-tricks-text text-center">Log in and go to account details to see information about POIs you have created, visited and liked</p>
          </div>
          <div class="carousel-item">
            <p class="tips-and-tricks-text text-center">Volanta recorded flights can now be uploaded to your account and displayed on the map </p>
          </div>
          <!-- <div class="carousel-item">
            <p class="tips-and-tricks-text text-center">You can flag a POI as incorrect by clicking on the flag icon in the bottom-left corner of the POI info window.</p>
          </div> -->

        </div>    
</div>

<!-- POI AUDIO TOOLBAR start-->

<!-- <div id="poi_audio_toolbar" class="d-none justify-content-center pa_toolbar " > -->
<div class="container my-2">
    <p id="warning" class="warning">Sorry, your web browser does not support the Speech Synthesis API.</p>
    <p class="lead text-dark mt-1">Select Language</p>
    <select id="languageMenu" class="mb-1 form-select bg-secondary text-light"></select>
    <p class="lead text-dark mt-1">Select Voice</p>
    <select id="speakerMenu" class="form-select bg-secondary text-light"></select>
    <!-- <p class="lead text-dark mt-1">Select Voice Test</p>
    <select id="voices" class="form-select bg-secondary text-light"></select> -->

    <textarea id="textFld" class="form-control bg-dark text-light my-1" cols="30" rows="3" placeholder="Type here..."></textarea>
    <div id="poi_audio_toolbar" class="d-flex justify-content-center pa_toolbar " >
        <p class="p-1">Currently playing: </p>
        <p id="current_poi_playing" class="p-1"></p>
        <div class="w-50">
            <select id="select_poi_play" class="form-select bg-dark text-light p-2 "></select>
        </div>
        <div class="mx-2">
            <button id="pa_step_backward" class="btn btn-info btn-sm m-1" value="play" ><i id="pa_step_backward" class="fas fa-step-backward"></i></button>
            <button id="pa_play_pause" class="btn btn-success btn-sm m-1" value="play" ><i id="pa_play_pause_icon" class="fas fa-play"></i></button>
            <button id="pa_stop" class="btn btn-danger btn-sm m-1"><i id="pa_stop_icon" class="fas fa-stop"></i></button>
            <button id="pa_step_foward" class="btn btn-info btn-sm m-1"><i id="pa_step_foward" class="fas fa-step-forward"></i></button>
        </div>
    </div>
</div>


<!-- POI AUDIO TOOLBAR end-->

<!-- no search result flash start-->
<div id="search_results_flash" class="alert alert-info text-center my-0" style="display: none;" role="alert">
    {% if search_defaults['Country'] != 'Country' %}
    No POIs found in {{search_defaults['Country']}} based on this search criteria. Showing POIs from all countries that
    match your criteria
    {% elif search_defaults['Region'] != 'Region' %}
    No POIs found in {{search_defaults['Region']}} based on this search criteria. Showing POIs from all countries that
    match your criteria
    {% else %}
    No POIs found that match your search criteria.
    {% endif %}
</div>
<!-- no search result flash end-->

<!-- POI CREATED flash start-->
<div id="poi_created_flash" class="alert alert-success text-center my-0" style="display: none;" role="alert">
    A new point of interest has been created!
</div>

<!-- POI UPDATED flash start-->
<div id="poi_updated_flash" class="alert alert-success text-center my-0" style="display: none;" role="alert">
    Your point of interest has been updated!
</div>

<!-- POI flagged flash start-->
<div id="poi_flagged_flash" class="alert alert-info text-center my-0" style="display: none;" role="alert">
    Thanks for your feedback. This POI has been flagged for review
</div>
<!-- no search result flash end -->

<!-- Active flight flash info start-->
<div id="active_flight_flash" class="alert bg-warning text-center p-2 m-0" style="display: none;" role="alert">
    <p id="active_flight_flash_text" class="my-0 text-dark" ></p>
</div>
<!-- Active flight flash info end-->

<!-- google_map_area_start  -->
{% include 'google_map.html' %}
<!-- google_map_area_end  -->

<!-- legend_area_start  -->
{% include 'legend.html' %}
<!-- legend_area_end  -->


<br/>
<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Popular Destinations</h3>
                    <p>
                        Come and explore the most popular places visited by flight sim users
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Africa.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Africa <a href="/topten_pois/Africa">top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Asia.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Asia <a href="/topten_pois/Asia"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Europe.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Europe <a href="/topten_pois/Europe"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/South_America.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            South America <a href="/topten_pois/South America"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/North_America.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            North America <a href="/topten_pois/North America"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="static/img/destination/Oceania.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">
                            Oceania<a href="/topten_pois/Oceania"> top 10</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_destination_area_end  -->

<!-- inspirational quotes  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        “We were meant to explore this earth like children do,
                                        unhindered by fear, propelled by curiosity and a sense of
                                        discovery.”
                                    </p>
                                    <div class="testmonial_author">
                                        <h3>- Laurel Bleadon Maffei</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>“I haven't been everywhere, but its on my list.”</p>
                                    <div class="testmonial_author">
                                        <h3>- Susan Sontag</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        “If we were meant to stay in one place we’d have roots
                                        instead of feet.”
                                    </p>
                                    <div class="testmonial_author">
                                        <h3>- Rachel Wolchin</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /inspirational quotes  -->

<!-- Flight Plan Modal -->
<div class="Flight_plan_modal">
    <div class="modal fade Flight_plan_modal" id="Flight_plan_modal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header Flight_plan_modal_header text-center">
                    <h5 class="modal-title">My Flight Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="Flight_plan_modal_body_id" class="modal-body flight_plan_modal_body mb-0">
                    <!-- <p>Modal body text goes here.</p> -->
                </div>
                <div class="modal-footer">
                    <button id="fp_save_btn" type="button" class="btn btn-primary" disabled
                            onclick="exportFlightPlan(flightPath_data)">Export Flight Plan
                    </button>
                    <button id="fp_delete_btn" type="button" class="btn btn-danger" disabled
                            onclick="deleteFlightPlan()">Clear Flight Plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete POI Modal -->
<div class="custom_search_pop">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this point of interest?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>
                    <!-- <span id="poi"></span> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <!-- <form action="{{ url_for('pois.delete_poi', poi_id=2) }}" method="POST"> -->
                    <form id="delete_poi_confirm" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Sim Flight Modal -->
<div class="custom_search_pop">
    <div class="modal fade" id="deleteFlightModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this flight?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <!-- <form action="{{ url_for('pois.delete_poi', poi_id=2) }}" method="POST"> -->
                    <form id="delete_flight_confirm_btn" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flag Modal -->
<div class="custom_search_pop">
    <div class="modal fade" id="flagReasonModal" tabindex="-1" role="dialog" aria-labelledby="flaggedModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form id='flag_poi_modal_form' class="needs-validation " novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flaggedModalLabel">
                            Please enter a reason for flagging this POI
                        </h5>
                        <input type="hidden" name="eventId" id="eventId"/>
                        <!-- <span id="poi"></span> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" id="flaggedModalFormReasonTextArea" rows="3" value=""
                                  placeholder="Reason" required></textarea>
                        <!-- <label data-error="wrong" data-success="right" for="flagFormReason">Reason</label> -->
                        <div class="invalid-feedback">
                            Please enter a reason.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <!-- <form action="{{ url_for('pois.delete_poi', poi_id=2) }}" method="POST"> -->
                        <button id="flag_poi_confirm_btn" type="button" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
<div class="custom_search_pop">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this point of interest?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>
                    <!-- <span id="poi"></span> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <!-- <form action="{{ url_for('pois.delete_poi', poi_id=2) }}" method="POST"> -->
                    <form id="delete_poi_confirm" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://code.jquery.com/jquery.min.js"></script>-->
{% endblock content %}
