{% block content %}
<div id="legend_area" class="legend_area">
    <div class="legend_container">
        <div class="row align-items-center">
            <div id="legend_poi" class="m-1"> Point of Interest<img class="ml-2" src='/static/img/marker/normal-marker_sm.png'></div>
            <div id="default_aiport" class="m-1"> Default MSFS Airport<img class="ml-2" src='/static/img/marker/ms_airport_marker.png'></div>
            <div id="airport" class="m-1"> Airport<img class="ml-2" src='/static/img/marker/airport-marker_sm.png'></div>
            <div id="your_POI" class="m-1"> Your POI<img class="ml-2" src='/static/img/marker/user-marker_sm.png'></div>
            <div id="visited_poi" class="m-1"> Visited POI<img class="ml-2" src='/static/img/marker/visited-marker_sm.png'></div>
            <div id="favorited" class="m-1"> Favorited<img class="ml-2" src='/static/img/marker/favorite-marker_sm.png'></div>
            <div id="visited_airport" class="m-1"> Visited Airport<img class="ml-2" src='/static/img/marker/visited-marker_airport_sm.png'></div>         
        </div>
    </div>
</div>
{% endblock content %}