{% extends "base.html" %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area register_bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Account</h3>
                    <p>{{ current_user.username }}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="container">
    <div class="account_section">
        <!-- <div class="media">
          <img class="rounded-circle  align-self-center mr-4 " src="{{ image_file }}">
          <div class="media-body">
            <h2 class="account-heading mt-3">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>
        </div> -->
        <div class="mt-5">
            <legend class="border-bottom mb-4">My Flights</legend>
            <p>
              Flight Sim Discovery can show your exported Volanta flights on the world map.
              Volanta is an easy-to-use smart flight tracker that integrates all your flight data across all major sims. 
              See <a href="https://volanta.app/", target="_blank">https://volanta.app/ </a>for more information.  
              Please let me know if you would like other flight tracking software supported.
            </p>

        </div>
        <form method="POST" action="/my_flights" enctype="multipart/form-data">
           
            <fieldset class="form-group mt-5">
                <div class="box__input">
                    <dl>
                        <p><input type="file" id="choose_flights_btn" name="files[]" multiple="true" autocomplete="off" accept=".json" value="Choose Volanta Flights" required></p>
                    </dl>
                    <p><input type="submit" class="show_flights_btn" value="Show Flights"></p>
                </div>               
            </fieldset>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on("click", ".show_flights_btn", function () {
       
        var fileVal=document.getElementById("choose_flights_btn");
        if (fileVal.value) {
            document.body.style.cursor = 'wait';
        }
    });

</script>
{% endblock content %}