{% extends "base.html" %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area register_bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Account</h3>
                    <p>{{ current_user.username }}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="container">
    <div class="account_section">
        <!-- <div class="media">
          <img class="rounded-circle  align-self-center mr-4 " src="{{ image_file }}">
          <div class="media-body">
            <h2 class="account-heading mt-3">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>
        </div> -->
        
        <div class="mt-5">
            <legend class="border-bottom mb-4">My Flights</legend>
            <p>
              Flight Sim Discovery can show your recorded flights on the world map.  A list of your recorded flights is displayed below.
              You need to download the Flight Sim Discovery in-game panel from flight.to <a href="https://www.flightsim.to/", target="_blank">https://www.flightsim.to/ </a>.  
              This download comes with a 'read me' file that explains how to record your flights using flight sim discovery.
            </p>

        </div>
        <div class="user_flights">
            <br>
            {% if current_user.username %}
                {% if user_flights %}
                        <p>You have recorded {{user_flights|length}} flights</p>
                    {% else %}
                        <p>No user recorded detected.  Please record some flights to view on world map.</p>
                {% endif %}
            {% endif %}
            
        </div>
        <!-- <form method="POST" action="/my_flights" enctype="multipart/form-data">
           
            <fieldset class="form-group mt-3">
                <div class="box__input">
                    <small id="choose_flights_error_txt" style="display: none" class="text-danger">
                        With faded secondary text
                    </small >
                    <dl>
                        <p><input type="file" id="choose_flights_btn" name="files[]" multiple="true" autocomplete="off" accept=".json" value="Choose Volanta Flights" required></p>
                    </dl>
 
                    <p><input type="submit" id="upload_flights_btn" class="show_flights_btn" value="Upload Flights" disabled></p>
                </div>               
            </fieldset>
        </form> -->

            <div class="db_table_area my-5">
                <!-- <legend class="border-bottom mb-5">My Points of Interest</legend> -->
                <div>
                    <table id="account_user_flight_datatable" class="stripe row-border">
                        <thead class="">
                        <tr>
                           
                            <th scope="col">Date (UTC)</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Aircraft</th>
                            <th scope="col">Flight Time</th>
                            <th scope="col">Filename</th>
                            <!-- <th scope="col">Map</th> -->
                            <th scope="col">Map</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                           
                        {% for user_flight in user_flights %}
                        <tr>
                        
                            <td>{{user_flight.Date}}</td>
                            <td>{{user_flight.Origin_name}}</td>
                            <td>{{user_flight.Destination_name}}</td>
                            <td>{{user_flight.AircraftTitle}}</td>
                            <td>{{user_flight.Flight_time}}</td>
                            <td>{{user_flight.Filename}}</td>

                            <td><a href="/view_sim_flight/{{user_flight.Flight_ID}}" class="btn btn-primary" role="button"
                                aria-disabled="true"><i class="fas fa-globe-americas"></i></a>
                            </td>                             
                            <td>
                                <button type="button" class="open_delete_fp_modal btn btn-danger" data-id="{{user_flight.Flight_ID}}"
                                        data-toggle="modal" data-target="#deleteFlightModal"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
<!-- Delete sim flight Modal -->
<div class="custom_search_pop">
    <div
            class="modal fade"
            id="deleteFlightModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this flight?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <form id="delete_flight_confirm" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on("click", ".open_delete_fp_modal", function () {
        
        var id = $(this).data('id');
        var form_action = '/my_flights/delete/' + id + '?page=my_flights'
        $("#delete_flight_confirm").attr('action', form_action);
    });

    $(document).on("click", ".show_flights_btn", function () {
        
        var fileVal=document.getElementById("choose_flights_btn");
        if (fileVal.value) {
            document.body.style.cursor = 'wait';
        }
    });

    $('#choose_flights_btn').on('change', function() {

        size = 0

        //let compute the total size of the files
        for (var i = 0; i <= this.files.length - 1; i++) {
            
            size += this.files[i].size;
        }

        //calc size in Mb
        size = (size / 1024 / 1024).toFixed(2);

        if (size > 200) {
        // if (size > 1) {
            
            error_text = "Current upload size is " + size +"MB.  Upload size must be less than 200MB.  Try uploading files in batches of less than 200MB each.";
            
            $("#choose_flights_error_txt").text(error_text);
            $("#choose_flights_error_txt").show();
        } else {
            $("#choose_flights_error_txt").hide();
            $('#upload_flights_btn').prop('disabled', false);
            // enable upload flights button
        }
    });

</script>
{% endblock content %}