{% extends "base.html" %}
{% block content %}
<div class="section_top_area"></div>
<div class="container">
    <br>
    <br>
    <br>
    <h2 class="article-title display-4 text-center">Point of Interest {{poi.id}}- {{poi.name}}</h2>
        <!-- database table_area_start  -->
        <div class="db_table_area">
            <!-- <div class="container"> -->
                <br>
                <br>

              <table class="table table-striped" >
                <thead class="thead-dark">
                  <tr>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">category</th>
                        <th scope="col">country</th>
                        <th scope="col">region</th>
                        <th scope="col">description</th>
                        <th scope="col">rating</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{poi.user_id}}</td>
                        <td>{{poi.name}}</td>
                        <td>{{poi.category}}</td>
                        <td>{{poi.country}}</td>
                        <td>{{poi.region}}</td>
                        <td>{{poi.description}}</td>
                        <td>{{poi.rating}}</td>
                      </tr>
                </tbody>
              </table>
        
            <!-- </div> -->
          </div>
          <!-- database table_area_end  -->
          <br>
          <br>
</div>   
{% endblock content %}