{% extends "base.html" %}
{% block content %}
<div class="section_top_area"></div>
<div class="container">
    <br>
    <br>
    <br>
    <h2 class="article-title display-4 text-center">Point of Interest {{poi.id}}- {{poi.name}}</h2>
        <!-- database table_area_start  -->
        <div class="media-body"></div>
        <div class="article-metadata"></div>
          <div class="db_table_area">
            <!-- <div class="container"> -->
                <br>
                <br>

              <table class="table table-striped" >
                <thead class="thead-dark">
                  <tr>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">category</th>
                        <th scope="col">country</th>
                        <th scope="col">region</th>
                        <th scope="col">description</th>
                        <th scope="col">rating</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{poi.user_id}}</td>
                        <td>{{poi.name}}</td>
                        <td>{{poi.category}}</td>
                        <td>{{poi.country}}</td>
                        <td>{{poi.region}}</td>
                        <td>{{poi.description}}</td>
                        <td>{{poi.rating}}</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <small class="text-muted">{{ poi.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if (current_user.id == 1) or (poi.user_id == current_user.id) %} 
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('pois.update_post', poi_id=poi.id) }}">
                    Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
            {% endif %}
          </div>
          </div>
        </div>
          <!-- database table_area_end  -->
          <br>
          <br>
</div>   
  <!-- Delete Modal -->
  <div class="custom_search_pop">
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this point of interest?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('pois.delete_poi', poi_id=poi.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}