{% extends "base.html" %}
{% block content %}

<div class="mx-5">
    <div class="user_pois_section my-5">
        <div class="db_table_area">
            <legend class="border-bottom mb-5">Shared Flight Plans</legend>
            <table id="shared_flightplans_datatable" class="stripe row-border">
                <thead class="">
                <tr>
                    <th scope="col">Flight ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Name</th>
                    <th scope="col">Waypoints</th>             
                    <th scope="col">Delete</th>

                </tr>
                </thead>
                <tbody>
                {% for flightplan_data in shared_flightplan_data %}
                <tr>
                    <td>{{flightplan_data.id}}</td>
                    <td>{{flightplan_data.user_id}}</td>
                    <td>{{flightplan_data.user_name}}</td>
                    <td>{{flightplan_data.name}}</td>
                    <td>{{flightplan_data.waypoints}}</td>
                    <td>
                        <button type="button" class="open_delete_modal btn btn-danger" data-id="{{flightplan_data.id}}"
                                data-toggle="modal" data-target="#deleteFPModal"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="custom_search_pop">
    <div
            class="modal fade"
            id="deleteFPModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Are you sure you want to delete this flight plan?
                    </h5>
                    <input type="hidden" name="eventId" id="eventId"/>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <form id="delete_fp_confirm" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on("click", ".open_delete_modal", function () {
       
       var id = $(this).data('id');
       var form_action = '/flightplans/' + id + '/delete?page=shared_flightplans'
       $("#delete_fp_confirm").attr('action', form_action);
  });

</script>
{% endblock content %}