{% extends "base.html" %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area topten_bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Account</h3>
                    <p>{{ current_user.username }}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">
    <div class="topten_pois_section my-5">
        <div class="db_table_area">
            <legend id=topten_title class="border-bottom mb-5">Top Ten Points of Interest</legend>
            <table id="topten_pois_datatable" class="stripe row-border">
                <thead class="">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Country</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Map</th>
                    <th scope="col">Info</th>
                </tr>
                </thead>
                <tbody>
                {% for poi in pois %}
                <tr>
                    <td>{{poi.name}}</td>
                    <td>{{poi.category}}</td>
                    <td>{{poi.country}}</td>
                    <td>{{poi.description}}</td>
                    <td>{{poi.rating}}</td>
                    <td><a href="/{{poi.location}}#searchTag" class="btn btn-primary" onclick="this.form.submit()" role="button"
                           aria-disabled="true"><i class="fas fa-globe-americas"></i></a></td>
                    <td><a href="https://www.google.com/search?q={{poi.name}}, {{poi.category}}, {{poi.country}}"
                           target="_blank" class="btn btn-success" role="button" aria-disabled="true"><i
                            class="fas fa-info-circle"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
document.getElementById("topten_title").innerHTML = "{{continent}} - Top Ten Points of Interest" ;

</script>
{% endblock content %}