{% extends "base.html" %} {% block content %}

<!-- ================ contact section start ================= -->
<div class="mx-5">
    <div class="user_pois_section my-5">
        <div class="db_table_area">
            <legend class="border-bottom mb-5">User Details</legend>
            <table id="all_users_datatable" class="stripe row-border">
                <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">No. of POIs</th>
                    <th scope="col">No. of Rated</th>
                    <th scope="col">No. of Flagged</th>
                    <!-- <th scope="col">Delete</th> -->

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href="/user_pois/{{user.id}}" class="text-primary" role="button" aria-disabled="true">{{user.username}}</a></td>
                    <td>{{user.number_pois}}</td>
                    <td>{{user.number_rated}}</td>
                    <td>{{user.number_flagged}}</td>
                    <!-- <td>
                        <button type="button" class="open_delete_users_modal btn btn-danger" data-id="{{user.id}}"
                                data-toggle="modal" data-target="#deleteUserModal"><i class="far fa-trash-alt"></i></button>
                    </td> -->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <!-- ================ contact section end ================= -->
{% endblock content %}